Source: grizzly
Maintainer: Filippo Giunchedi <fgiunchedi@wikimedia.org>
Section: devel
Priority: optional
Standards-Version: 4.3.0
Build-Depends: debhelper (>= 12),
               dh-golang,
               golang-any,
               golang-github-fatih-color-dev,
               golang-github-gdamore-tcell-dev,
               golang-github-gobwas-glob-dev,
               golang-github-mitchellh-mapstructure-dev,
               golang-github-pmezard-go-difflib-dev,
               golang-github-rivo-tview-dev,
               golang-github-fsnotify-fsnotify-dev,
               golang-gopkg-yaml.v3-dev,
# Indirect dependencies from vendored modules
               golang-github-gogo-protobuf-dev,
               golang-github-gorilla-websocket-dev,
               golang-github-jpillora-backoff-dev,
               golang-github-posener-complete-dev,
               golang-github-spf13-pflag-dev,
               golang-github-lucasb-eyer-go-colorful-dev,
               golang-github-mattn-go-runewidth-dev,
               golang-github-rivo-uniseg-dev
Homepage: https://github.com/grafana/grizzly
XS-Go-Import-Path: github.com/grafana/grizzly
Testsuite: autopkgtest-pkg-go

Package: grizzly
Architecture: any
Built-Using: ${misc:Built-Using}
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: XXX
